<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title><%= title || "Authentification" %></title>
  <link rel="stylesheet" href="/admin.css" />
</head>
<body>
  <%- body %>
</body>
</html>
